<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <a href='me.html'>Me</a>
      <a href="www.google.com"></a>   
      <a href="#me">That's it</a>
    </p>
    <hr />
    <div id="me">
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>I am the one</p>
    </div>
  </body>
</html>