
<h2><%= 'My page '%></h2>	
<ul>
	<%t = ['Shamash', 'Nergal', 'Silent caster', 'Invisible']%>
	<% t.each do |x|%>
	<li><%= "#{x} is my nick"%></li>
	<%end%>
</ul>

<div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sed unde, quisquam, in error, aliquid culpa facere possimus fuga maiores molestias nam autem. Ullam laboriosam sequi quis earum fugit nam.
	</p>
		<%= "Author is Shamash" %>
</div>